<div id = "homeContainer">
    <div class = "halfdiv">
        <img src="../assets/img/HomepagePhoto.jpg">
    </div>
    <div class = "halfdiv">
        <div class = "button">
            <a routerLink="/login">Login</a>
        </div>
        <div class = "button">
            <a routerLink="/register">Register</a>
        </div>
        <h1>Get Fit Now!</h1>
    </div>
</div>
<div>
    <div class = "test">
        <h2>THIS IS LIKE THE BEST WEBSITE EVER</h2>
        
    </div>
    <div class = "sig">
        <h3>-Someone</h3>
    </div>
</div>