<div id = "homeContainer">
    <div class = "halfdiv">
        <img src="../assets/img/HomepagePhoto.jpg">
    </div>
    <div class = "halfdiv">
        <div class = "button">
            <a routerLink="/login" *ngIf="!getLoggedStatus()">Login</a>
        </div>
        <div class = "button">
            <a routerLink="/register" *ngIf="!getLoggedStatus()">Register</a>
        </div>
       
            <input type="button" (click)='logout()' value="logout" *ngIf="getLoggedStatus()">
            
        
        <h1>Get Fit Now!</h1>
    </div>
</div>
<div>
    <div class = "test">
        <h2>THIS IS LIKE THE BEST WEBSITE EVER</h2>
        
    </div>
    <div class = "sig">
        <h3>-Someone</h3>
    </div>
</div>
<div>
        <div class = "test">
            <h2>THIS IS THE BEST WAY TO GET FIT</h2>
            
        </div>
        <div class = "sig">
            <h3>-Someone else</h3>
        </div>
    </div>