<div class = "contatiner">
    <div id = "center">
        <div id="userProfile">
            <div *ngFor="let item of items | async" >
                <div *ngIf="item.Name == displayName">
                    <h2> Welcome,   {{ item.Name }} </h2>
                    <div class = "stats">
                        <h3>Height</h3>
                        <hr>
                        <p><span *ngIf="!item.Height">N/A</span> {{ item.Height }} </p>
                    </div>
                    <div class = "stats">
                        <h3>Weight(Pounds)</h3>
                        <hr>
                        <p><span *ngIf="!item.Weight">N/A</span> {{ item.Weight }} </p>
                    </div>
                    <div class = "stats">
                        <h3>Age</h3>
                        <hr>
                        <p><span *ngIf="!item.Age">N/A</span> {{ item.Age }} </p>
                    </div>
                </div>      
            </div>
        </div>
        <div id="center">
            <h4>Update Profile</h4>
            <p><input type="number" class = "input" id="age" placeholder="Age"></p>
            <p><input type="number" class = "input" id="weight" placeholder="Weight"> </p>
            <h5> Height: </h5>
                <select name="feet" id="heightSelectFeet">
                    <option selected="selected"> </option>
                    <option value="2'">2'</option>
                    <option value="3'">3'</option>
                    <option value="4'">4'</option>
                    <option value="5'">5'</option>
                    <option value="6'">6'</option>
                    <option value="7'">7'</option>
                    <option value="8'">8'</option>
                </select>
                <select name="inches" id="heightSelectInches">
                    <option selected="selected"> </option>
                    <option value='1"'>1"</option>
                    <option value='2"'>2"</option>
                    <option value='3"'>3"</option>
                    <option value='4"'>4"</option>
                    <option value='5"'>5"</option>
                    <option value='6"'>6"</option>
                    <option value='7"'>7"</option>
                    <option value='8"'>8"</option>
                    <option value='9"'>9"</option>
                    <option value='10"'>10"</option>
                    <option value='11"'>11"</option>
                </select>
            
            <input type="button" class = "button" (click)="onClick()" value = "Submit Changes">
        </div>
    </div>
    <br>
    <br>
    <br>
    <br> 
    <br>
    <br>
</div>