<br>
<div class = "main">
    <div class = "center">
        <input type="email" id="email" placeholder="Email Address">

        <input type="string" id="displayName" placeholder="Display Name">

        <h6 class = "sex">Sex</h6>
        <div class = "center2">
            <div class = radio>
                <h5>Male</h5><input type="radio" name="sex" value="male" placeholder="Male">
            </div>
        
            <div class = radio>
                <h5>Female</h5><input type="radio" name="sex" value="female"placeholder="Femmale">
            </div>
        </div>
    <input type="password" id="password" placeholder="Password">
        
        <input type="password" id="passwordConfirm" placeholder = "Confirm Password">
        <button type="submit" (click)="onSubmit()">Submit</button>
        <h6>Already have an account? </h6>
        <div class = "reg">
            <nav>
              <div> 
                <a routerLink="/login" id="loginLink"> Login!</a>
              </div>
            </nav>
        </div>
    </div>
</div>