<h2>Meals</h2>
<div class="container">
  <div class = "list">
    <div id = "center">
      <div class = "item">
        <h4>Meal</h4>
      </div>
      <div class = "item">
        <h4>Ingredients</h4>
      </div>
      <div class = "item">
        <h4>Calories</h4>
      </div> 
    </div>
  </div>
  
  <div class = "scroll" id = "center">
    <div class="list" *ngFor="let item of items | async">
      <div>
        <div class = "items">
          <p>{{item.Name}}</p>
        </div>
        <div class = "items">
          <p>{{item.Ingredients}}</p>
        </div>
        <div class = "items">
          <p>{{item.Calories}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
