<h2>Meals</h2>
<div class="container">
  <div class="list">
    <div id="center">
      <div class="item" (click)="sort('Name')">
        <h4 id="selectable">Meal &#x21D5;</h4>
      </div>
      <div class="item">
        <h4>Ingredients</h4>
      </div>
      <div class="item" (click)="sort('Calories')">
        <h4 id="selectable">Calories &#x21D5;</h4>
      </div>
    </div>
  </div>
  
  <div class="scroll" id="center">
    <div class="list" *ngFor="let item of meals | async">
      <div>
        <div class="items">
          <p id="selectable" (click)="onSelect(item)">{{item.Name}}</p>
        </div>
        <div class="items">
          <p id="selectable" (click)="onSelect(item)">{{item.Ingredients}}</p>
        </div>
        <div class="items">
          <p id="selectable" (click)="onSelect(item)">{{item.Calories}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="selectedMeal" id="center">
    <p>
      <button id="logButton" class="button4" (click)="logMeal()">Add Selected Meal to Meal History</button>
    </p>
  </div>
</div>
<h2>
  Add a Meal
</h2>
<div class="container">
  <div id="center">
    <p>
      <input type="string" class="inputLeftAlign" #newName placeholder="Name">
    </p>
    <p>
      <input type="string" class="inputLeftAlign" #newIngredients placeholder="Ingredients">
    </p>
    <p>
      <input type="number" class="inputLeftAlign" #newCalories placeholder="Calories">
    </p>
    <p>
      <button class="button3" (click)="addFood(newName.value, newIngredients.value, newCalories.value)">Submit</button>
    </p>
  </div>
</div>
<h2>
  Meal History
</h2>
<div class="container">
  <div>
    <div id="center">
      <p>
        <input type="string" class="input" #searchTerm placeholder="Search">
      </p>
      <p>
        <button class="button2" (click)="logSearchByName(searchTerm.value)">Search by Name</button>
        <button class="button2" (click)="logSearchByDate(searchTerm.value)">Search by Date</button>
        <button class="button2" (click)="logResetList()">Reset</button>
      </p>
    </div>
  </div>
  <div class="list">
    <div id="center">
      <div class="item2">
        <h4 id="selectable">Meal</h4>
      </div>
      <div class="item2" (click)="logSort()">
        <h4 id="selectable">Date &#x21D5;</h4>
      </div>
    </div>
  </div>

  <div class="scroll" id="center">
    <div class="list" *ngFor="let item of loggedMeals | async">
      <div>
        <div class="items2">
          <p id="selectable" (click)="onLogSelect(item)">{{item.Name}}</p>
        </div>
        <div class="items2">
          <p id="selectable" (click)="onLogSelect(item)">{{item.Date}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="Desc" id="center">
    <div id="center2">
      <p *ngIf="selectedLogMeal">{{selectedLogMeal.Name }} ({{ selectedLogMeal.Calories }} Calories)</p>
      <p *ngIf="selectedLogMeal">Ingredients: {{ selectedLogMeal.Ingredients }}</p>
    </div>
  </div>
</div>