.list{
    text-align: center;
    clear: both;
}
.header{
    text-align: center;
    clear: both;
}
.container{
    height: 55vh;
}
.item{
    
    float:left;
    width: 33.33333333%;
    font-family: cursive;
    background-color: #313642;
    color: white;
    font-size: 1.4vmax;
    line-height: 2vmax;
    height: 5vmax;
}
.items{
    float:left;
    width: 33.33333333%;
    font-family: cursive;
    background-color: #414754;
    color: white;
    font-size:1.4vmax;
    line-height: 2vmax;
    height: 7vmax;
    border-bottom: 1px solid #313642;
}
#center{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%; 
}
#center2{
    width: 94%;
    margin-left: 3%;
    margin-right: 3%; 
}
h2{
    line-height: 5vmax;
    text-align: center;
    font-size: 5vmax;
    margin: 1vmax;
    font-family: cursive;
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #414754;
}
.scroll{
    clear:both;
    overflow-y: auto;
    height: 300px;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
}
.input{
    margin-left: -2.7px;
    width: 100%;
    height: 3vmax;
    line-height: 2.5vmax;
    font-size: 2vmax;
    font-family: cursive;
    border: 3px solid #E3E8F0;
    transition: border .3s ease-in-out;
    -webkit-transition: border-radius 1s,
                        border .3s ease-in-out;         
    color: #414754;
    text-align: center;
}
.inputLeftAlign{
    margin-left: -2.7px;
    width: 100%;
    height: 3vmax;
    line-height: 2.5vmax;
    font-size: 2vmax;
    font-family: cursive;
    border: 3px solid #E3E8F0;
    transition: border .3s ease-in-out;
    -webkit-transition: border-radius 1s,
                        border .3s ease-in-out;         
    color: #414754;
    text-align: left;
}
#selectable{
    cursor: pointer;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
}
.Desc{
    
    float:left;
    width: 100%;
    font-family: cursive;
    background-color: #313642;
    color: white;
    font-size: 1.4vmax;
    line-height: 2vmax;
    height: 10vmax;
}
button{
    text-align: center;
    background-color: #414754;
    float: left;
    width: 25%;
    height: 4vmax;
    line-height: 4vmax;
    font-family: cursive;
    transition: background-color .5s ease,
                font-size .1s linear;
    font-size: 1.3vmax;
    color: white;
    border: none;
}
button:hover{
    background-color: #313642;
    font-size: 1.4vmax;
}
#logButton{
    width: 100%
}
input:hover{
    border: 3px solid #bec4ce;
}
input:focus{
    border: 3px solid #414754;
    outline:none;
    border-radius: 1vmax;
}
input:focus::placeholder{
    color: white;
}


