<h2>Exercises</h2>
<div class="container">
  <div>
    <div id="center">
        <p>
          <input type="string" class = "input" #searchTerm placeholder="Search">
          <button class = "button" (click)="searchByName(searchTerm.value)">Search by Name</button>
          <button class = "button" (click)="searchByType(searchTerm.value)">Search by Type</button>
          <button class = "button" (click)="searchByIntensity(searchTerm.value)">Search by Intensity</button>
          <button class = "button" (click)="resetList()">Reset</button>
        </p>
    </div>
  </div>
  <div class = "list">
    <div id = "center">
      <div class = "item" (click)="sort('Name')">
        <h4 id="selectable">Name &#x21D5;</h4>
      </div>
      <div class = "item" (click)="sort('Type')">
        <h4 id="selectable">Type &#x21D5;</h4>
      </div>
      <div class = "item" (click)="sort('Intensity')">
        <h4 id="selectable">Intensity &#x21D5;</h4>
      </div>  
    </div>
  </div>
  
  <div class = "scroll" id = "center">
    <div class="list" *ngFor="let item of exercises | async">
      <div>
        <div class = "items">
          <p id="selectable" (click)="onSelect(item)">{{item.Name}}</p>
        </div>
        <div class = "items">
            <p id="selectable" (click)="onSelect(item)">{{item.Type}}</p>
        </div>
        <div class = "items">
          <p id="selectable" (click)="onSelect(item)">{{item.Intensity}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="Desc" id="center">
    <div id = "center2">
      <p *ngIf="selectedExercise">{{selectedExercise.Name }} ({{ selectedExercise.Type }}, {{ selectedExercise.Intensity }})</p>
      <p *ngIf="selectedExercise">Description: {{ selectedExercise.Description }}</p>
    </div>
    </div>
  
</div>