<h2>Exercises</h2>
<div class="container">
  <div class = "list">
    <div id = "center">
      <div class = "item">
        <h4>Name</h4>
      </div>
      <div class = "item">
        <h4>Intensity</h4>
      </div>
      <div class = "item">
        <h4>Description</h4>
      </div>
      <div class = "item">
        <h4>Type</h4>
      </div>
    </div>
  </div>
  <div class = "scroll" id = "center">
    <div class="list" *ngFor="let item of items | async">
      <div>
        <div class = "items">
          <p>{{item.Name}}</p>
        </div>
        <div class = "items">
          <p>{{item.Intensity}}</p>
        </div>
        <div class = "items">
          <p>{{item.Description}}</p>
        </div>
        <div class = "items">
          <p>{{item.Type}}</p>
        </div>
      </div>
    </div>
  </div>
  
</div>