h1{
    font-family: cursive;
    font-size: 300%;
    margin-left: 30px;
}
a{
    
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    font-family: cursive;
    font-size: 150%;
    font-stretch: ultra-expanded;

}
#nav{
    border-top: 10px solid darkslategrey;
    border-bottom: 10px solid darkslategrey;
    
    background: darkslategrey;
    width: 100%;
   
}
nav{
    text-align: center;
    
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}