<!--The content below is only a placeholder and can be replaced.-->
<div id = main>
  <div>
    <img src = "assets/img/FitnessAppLogo.png">
    <h1>Welcome to Fitness Tracker!</h1>
  </div>

  <div id=nav>

    <nav *ngIf="!logInCheck()">
      <div>
        <a routerLink="/home" id="homeLink">Home</a>
      </div>
      <div>
        <a routerLink="/profile" id="profileLink">Profile</a>
      </div>
      <div>
        <a routerLink="/exercise" id="exerciseLink">Exercise</a>
      </div>
      <div>
        <a routerLink="/meal-planner" id="dietLink">Diet</a>
      </div>
    </nav>

    <nav *ngIf="logInCheck()">
      <div>
        <a routerLink="/home" id="homeLink">Home</a>
      </div>
      <div>
        <a routerLink="/login" id="profileLink">Profile</a>
      </div>
      <div>
        <a routerLink="/login" id="exerciseLink">Exercise</a>
      </div>
      <div>
        <a routerLink="/login" id="dietLink">Diet</a>
      </div>
    </nav>
  </div>
  
  <div style = "width: 100%; height: 20px; clear: both">
   
  </div>
  <div id = body>
    <router-outlet>
      <!-- <home-component></home-component> -->
    </router-outlet>
  </div>
</div>